<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to LightFrame!</title>
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
    <div style="width:100%; min-height:100%;border:opx !important;">

        <div style="width:90% !important;background-color:#1976D2;color:white;text-align:center;padding:1em; margin: 0 auto;border:1em !important; font-family:Courier New, Courier, monospace">
            <font style="font-size:1.4em;font-weight:bold;">
                LightFrame</font> Welcomes you!

        </div>

        <div style="width:90% !important;margin: 0 auto;font-family:Courier New, Courier, monospace;">
            <br> Hello
            <font color="navy" style="font-weight:400"> {{user}} </font>,
            <br><br> We are excited to have you on board our platform.
            <br>
            <br>
            The following are your user details:
            <br><br>
            <i>Account Name:</i> 
            <font color="red">{{user_account}}</font>
            <br>
            <i>Contact Email:</i> 
            <font color="red">{{user_email}}</font>
            <br>
            <i>Contact Telephone:</i> 
            <font color="red">{{user_telephone}}</font>
            <br>
            <br>
            You can access the administrative portal at 
            <a href="{{portal_url}}">{{portal_url}}</a>
            <br>
            <br> 
            For any assistance, drop us an email at <font color="green">support@bixbyte.io</font>
            
            <br><br>
            <hr>
            <br>
            <font color="gray">
                Sincerely,
                <br>
                <b> 
                    The LightFrame team 
                </b>
            </font>

        </div>

    </div>
    <br><br><br><br>
</body>

</html>