<!--<___lightframer menu="true" path="500" url="/500" title="Server Error" parent="false" icon="book" controller=""></lightframer>-->
<br><br>
<div class="error_page_header">
    <div class="uk-width-8-10 uk-container-center">
        500!
    </div>
</div>
<div class="error_page_content">
    <div class="uk-width-8-10 uk-container-center">
        <p class="heading_b">Oops! Something went wrong...</p>
        <p class="uk-text-large">
            There was an error. Please try again later.
        </p>
        <a href="#" onclick="history.go(-1);return false;">Go back to previous page</a>
    </div>
</div>
<div class="uk-width-large-1-2">
    <div class="md-card">
        <tien-clndr id="clndr_events" class="uk-display-block ng-isolate-scope" tien-clndr-object="clndr" tien-clndr-events="clndr_events" tien-clndr-options="clndr_options">
            <div class="clndr clndr-wrapper ng-scope">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <i class="md-icon material-icons" ng-click="addEventForm($event)"></i>
                        <i class="md-icon clndr_today material-icons" ng-click="clndr_today()"></i>
                        <i class="md-icon material-icons" ng-click="clndr_prev_month()"></i>
                        <i class="md-icon material-icons uk-margin-remove" ng-click="clndr_next_month()"></i>
                    </div>
                    <h3 class="md-card-toolbar-heading-text ng-binding">
                        December 2016
                    </h3>
                </div>
                <div class="clndr_days">
                    <div class="clndr_days_names">
                        <!-- ngRepeat: day in daysOfTheWeek track by $index -->
                        <div class="day-header ng-binding ng-scope" ng-repeat="day in daysOfTheWeek track by $index">
                            Mo
                        </div>
                        <!-- end ngRepeat: day in daysOfTheWeek track by $index -->
                        <div class="day-header ng-binding ng-scope" ng-repeat="day in daysOfTheWeek track by $index">
                            Tu
                        </div>
                        <!-- end ngRepeat: day in daysOfTheWeek track by $index -->
                        <div class="day-header ng-binding ng-scope" ng-repeat="day in daysOfTheWeek track by $index">
                            We
                        </div>
                        <!-- end ngRepeat: day in daysOfTheWeek track by $index -->
                        <div class="day-header ng-binding ng-scope" ng-repeat="day in daysOfTheWeek track by $index">
                            Th
                        </div>
                        <!-- end ngRepeat: day in daysOfTheWeek track by $index -->
                        <div class="day-header ng-binding ng-scope" ng-repeat="day in daysOfTheWeek track by $index">
                            Fr
                        </div>
                        <!-- end ngRepeat: day in daysOfTheWeek track by $index -->
                        <div class="day-header ng-binding ng-scope" ng-repeat="day in daysOfTheWeek track by $index">
                            Sa
                        </div>
                        <!-- end ngRepeat: day in daysOfTheWeek track by $index -->
                        <div class="day-header ng-binding ng-scope" ng-repeat="day in daysOfTheWeek track by $index">
                            Su
                        </div>
                        <!-- end ngRepeat: day in daysOfTheWeek track by $index -->
                    </div>
                    <div class="clndr_days_grid">
                        <!-- ngRepeat: day in days -->
                        <div class="day past adjacent-month last-month calendar-day-2016-11-28 calendar-dow-1" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">28</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past adjacent-month last-month calendar-day-2016-11-29 calendar-dow-2" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">29</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past adjacent-month last-month calendar-day-2016-11-30 calendar-dow-3" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">30</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-01 calendar-dow-4" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">1</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-02 calendar-dow-5" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">2</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-03 calendar-dow-6" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">3</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-04 calendar-dow-0" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">4</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-05 calendar-dow-1" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">5</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-06 calendar-dow-2" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">6</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-07 calendar-dow-3" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">7</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past event calendar-day-2016-12-08 calendar-dow-4" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">8</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past event calendar-day-2016-12-09 calendar-dow-5" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">9</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-10 calendar-dow-6" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">10</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-11 calendar-dow-0" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">11</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-12 calendar-dow-1" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">12</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past event calendar-day-2016-12-13 calendar-dow-2" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">13</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-14 calendar-dow-3" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">14</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-15 calendar-dow-4" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">15</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-16 calendar-dow-5" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">16</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-17 calendar-dow-6" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">17</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past event calendar-day-2016-12-18 calendar-dow-0" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">18</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-19 calendar-dow-1" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">19</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-20 calendar-dow-2" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">20</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-21 calendar-dow-3" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">21</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-22 calendar-dow-4" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">22</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past event calendar-day-2016-12-23 calendar-dow-5" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">23</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-24 calendar-dow-6" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">24</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past calendar-day-2016-12-25 calendar-dow-0" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">25</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day past event calendar-day-2016-12-26 calendar-dow-1" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">26</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day today event calendar-day-2016-12-27 calendar-dow-2" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">27</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day calendar-day-2016-12-28 calendar-dow-3" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">28</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day event calendar-day-2016-12-29 calendar-dow-4" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">29</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day calendar-day-2016-12-30 calendar-dow-5" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">30</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day calendar-day-2016-12-31 calendar-dow-6" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">31</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                        <div class="day adjacent-month next-month calendar-day-2017-01-01 calendar-dow-0" ng-repeat="day in days" ng-click="showEvents($event,day)">
                            <span class="ng-binding">1</span>
                        </div>
                        <!-- end ngRepeat: day in days -->
                    </div>
                </div>
                <div class="clndr_events">
                    <i class="material-icons clndr_events_close_button" ng-click="closeEvents()"></i>
                    <!-- ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Doctor appointment</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                10:00<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->11:00
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">John's Birthday</span>
                            <!-- ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Party</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                08:00<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->08:30
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Meeting</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                18:00<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->18:20
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Work Out</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                07:00<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->08:00
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Business Meeting</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                11:10<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->11:45
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Meeting</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                20:25<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->20:50
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Haircut</span>
                            <!-- ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Lunch with Katy</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                08:45<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->09:45
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Concept review</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                15:00<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->16:00
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Swimming Poll</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                13:50<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->14:20
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Team Meeting</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                17:25<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->18:15
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Dinner with John</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                16:25<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->18:45
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                    <div class="clndr_event ng-scope" ng-repeat="event in clndr_events | filter: selectedDay">
                        <a href="unsafe:javascript:void(0)">
                            <span class="clndr_event_title ng-binding">Business Meeting</span>
                            <!-- ngIf: event.timeStart || event.timeEnd --><span class="clndr_event_more_info ng-binding ng-scope" ng-if="event.timeStart || event.timeEnd">
                                                10:00<!-- ngIf: event.timeStart && event.timeEnd --><span ng-if="event.timeStart &amp;&amp; event.timeEnd" class="ng-scope"> - </span>
                            <!-- end ngIf: event.timeStart && event.timeEnd -->11:00
                            </span>
                            <!-- end ngIf: event.timeStart || event.timeEnd -->
                        </a>
                    </div>
                    <!-- end ngRepeat: event in clndr_events | filter: selectedDay -->
                </div>
            </div>
        </tien-clndr>
        <div class="uk-modal" id="modal_clndr_new_event" aria-hidden="false">
            <div class="uk-modal-dialog">
                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">New Event</h3>
                </div>
                <div class="uk-margin-bottom">
                    <div class="md-input-wrapper"><label for="clndr_event_title_control">Event Title</label><input class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope md-input-processed" id="clndr_event_title_control" ng-model="newEvent.title" md-input="" type="text">
                        <span class="md-input-bar"></span>
                    </div>

                </div>
                <div class="uk-margin-medium-bottom">
                    <div class="md-input-wrapper"><label for="clndr_event_link_control">Event Link</label><input class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope md-input-processed" id="clndr_event_link_control" md-input="" ng-model="newEvent.link" type="text">
                        <span class="md-input-bar"></span>
                    </div>

                </div>
                <div class="uk-grid uk-grid-width-medium-1-3 uk-margin-large-bottom" data-uk-grid-margin="">
                    <div>
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                            <div class="md-input-wrapper"><label for="clndr_event_date_control">Event Date</label><input class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope md-input-processed" id="clndr_event_date_control" ng-model="newEvent.date" data-uk-datepicker="{format:'YYYY-MM-DD', addClass: 'dropdown-modal' }"
                                    md-input="" type="text"><span class="md-input-bar"></span></div>

                        </div>
                    </div>
                    <div>
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                            <div class="md-input-wrapper"><label for="clndr_event_start_control">Event Start</label><input class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope md-input-processed" id="clndr_event_start_control" ng-model="newEvent.time_start" data-uk-timepicker=""
                                    md-input="" type="text"><span class="md-input-bar"></span></div>

                        </div>
                    </div>
                    <div>
                        <div class="uk-input-group">
                            <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-clock-o"></i></span>
                            <div class="md-input-wrapper"><label for="clndr_event_end_control">Event End</label><input class="md-input ng-pristine ng-untouched ng-valid ng-isolate-scope md-input-processed" id="clndr_event_end_control" ng-model="newEvent.time_end" data-uk-timepicker=""
                                    md-input="" type="text"><span class="md-input-bar"></span></div>

                        </div>
                    </div>
                </div>
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="md-btn md-btn-flat uk-modal-close">Close</button><button type="button" class="md-btn md-btn-flat md-btn-flat-primary" id="clndr_new_event_submit" ng-click="addEvent($event)">Add Event</button>
                </div>
            </div>
        </div>
    </div>
</div>