
<div style="width:100%; min-height:100%;border:opx !important;">

    <div style="width:90% !important;background-color:#1976D2;color:white;text-align:center;padding:1em; margin: 0 auto;border:1em !important; font-family:Courier New, Courier, monospace">
        <font style="font-size:1.4em;font-weight:bold;">
            LightFrame
        </font>
        | Password Reset
    </div>

    <div style="width:90% !important;margin: 0 auto;">
        <br> Hello, <br><br>
        <font color="navy" style="font-weight:400;font-family:Courier New, Courier, monospace;"> Please enter your email address and click the button to continue </font>.
        <br>
        <br>
        <br>

        <center ng-init="data.recovery = {}">
            <!-- <form action="/passwords/forgot"></form> -->
            <form name="recovery_form" novalidate>

                <div class="uk-grid">
                    <md-input-container class="uk-width-2-3">
                        <label>Email<sup style="color:red">*</sup></label>
                        <input 
                        type="email" 
                        class="md-input" 
                        name="email" 
                        ng-model="data.recovery.email" 
                        ng-pattern="app.isemail"
                        required
                        style="border-bottom:1px solid black !important;color:black; text-shadow:gray 2px 2px 3px, whitesmoke 1px 1px 2px;text-align:center;">
                        <div class="help-block" ng-messages="recovery_form.email.$error" ng-if="recovery_form.email.$touched">
                            <p ng-message="required" class="uk-text-danger">Please enter an email address.</p>
                            <p ng-message="pattern" class="uk-text-danger">Please enter an actual email address.</p>
                        </div>    
                    </md-input-container>
                    

                    <div class="uk-width-1-3">
                        <button 
                        class="md-btn"
                        ng-disabled="recovery_form.$invalid" 
                        ng-click="recover_password(data.recovery.email)" 
                        id="btn" 
                        style="font-family:Courier New, Courier, monospace !important;font-weight:bold !important;font-size:1.2em !important;background-color:#1976D2 !important;color:white; font-weight:bold; text-shadow:gray 2px 2px 3px, black 1px 1px 2px; font-weight:bold;">
                        Request Reset Link
                        </button>
                    </div>

                </div>

            </form>
            
            
            
            


        </center>

        <br><br>

        <div style="width:100% !important;text-align:center !important;font-weight:bold;font-size:1.2em;color:darkslategray;" ng-bind-html="data.recovery.response">

        </div>
        <br><br>
        <hr>
        <br>
        <font color="gray">

            <b> 
                Thank you for using LightFrame
            </b>
        </font>

    </div>

</div>