<!--<h2 class="heading_b uk-margin-bottom">USER SIGNUP</h2>-->

<div class="md-card uk-animation-slide-top" style="font-family: Roboto !important;" ng-init="fetch([['organizations']])">
    <form name="add_user_form" class="" style="" novalidate>      

        <div class="md-card-content">
                <h2 class="heading_a uk-badge uk-badge-primary" style="border-radius:40%; background-color: #1976D2; padding:0.2em;color:white;">SIGNUP</h2>
            <div class="uk-grid" data-uk-grid-margin>
                    
                <div class="uk-width-medium-1-2">
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <md-input-container class="uk-width-medium-1-2 uk-animation-slide-right">
                                <label>Name<sup style="color:red">*</sup></label>
                                <input type="text" name="first_name" class="md-input" ng-model="signup['name.first']" required>
                                <div class="help-block" style="font-family: Roboto;color:lightgray;" ng-messages="add_user_form.first_name.$error" ng-if="add_user_form.first_name.$touched">
                                    <p ng-message="required">A name is required.</p>
                                </div>
                            </md-input-container>
                            <md-input-container class="uk-width-medium-1-2 uk-animation-slide-left">
                                <label>Username<sup style="color:red">*</sup></label>
                                <input type="text" name="accountName" class="md-input" ng-model="signup['account.name']" ng-minlength="5" required>
                                <div class="help-block" style="font-family: Roboto;color:lightgray;" ng-messages="add_user_form.accountName.$error" ng-if="add_user_form.accountName.$touched">
                                    <p ng-message="required">An account name is required.</p>
                                    <p ng-message="minlength">That account name is too short</p>
                                </div>
                            </md-input-container>
                                    
                    
                        </div>

                    </div>


                    <div class="uk-grid uk-form-row">
                        <md-input-container class="uk-width-medium-1-2 uk-animation-slide-top">
                            <label>Password<sup style="color:red">*</sup></label>
                            <input name="password" type="password" class="md-input" ng-model="signup.password" ng-pattern="app.ispassword" required>
                            <div class="help-block" style="font-family: Roboto;color:lightgray;" ng-messages="add_user_form.password.$error" ng-if="add_user_form.password.$touched">
                                <p ng-message="required">A password is required.</p>
                                <p ng-message="pattern">Please enter a more secure password.</p>
                            </div>
                        </md-input-container>
                        <md-input-container class="uk-width-medium-1-2 uk-animation-slide-bottom">
                            <label>Repeat Passsword<sup style="color:red">*</sup></label>
                            <input type="password" name="password2" class="md-input" ng-model="signup.password2" required/>
                            <div class="help-block" style="font-family: Roboto;color:lightgray;" ng-messages="add_user_form.password2.$error" ng-if="add_user_form.password.$touched">
                                <p ng-message="required">Please enter a password confirmation.</p>
                                <p ng-message="pattern">Please enter a more secure password.</p>
                                <p ng-if="!app.matches(signup.password,signup.password2)&&signup.password">The passwords don't match.</p>
                            </div>
                        </md-input-container>
                    </div>




                </div>
                <div class="uk-width-medium-1-2">

                    <div class="uk-grid">
                        <md-input-container class="uk-width-medium-1-2 uk-animation-slide-bottom">
                            <label>Telephone <sup style="color:red">*</sup></label>
                            <input type="tel" class="md-input" name="telephone" ng-model="signup.telephone" ng-pattern="app.istelephone" required>
                            <div class="help-block" style="font-family: Roboto;color:lightgray;" ng-messages="add_user_form.telephone.$error" ng-if="add_user_form.telephone.$touched">
                                <p ng-message="required">A telephone number is required.</p>
                                <p ng-message="pattern">Please enter a valid telephone number.</p>
                            </div>
                        </md-input-container>
                        <md-input-container class="uk-width-medium-1-2 uk-animation-slide-top">
                            <label>Email <sup style="color:red">*</sup></label>
                            <input type="email" class="md-input" name="email" ng-model="signup.email" ng-pattern="app.isemail" required>
                            <div class="help-block" style="font-family: Roboto;color:lightgray;" ng-messages="add_user_form.email.$error" ng-if="add_user_form.email.$touched">
                                <p ng-message="required">An email account is required.</p>
                                <p ng-message="pattern">Please enter a valid email address.</p>
                            </div>
                        </md-input-container>
                    </div>

                    <div class="uk-grid">
                            <md-input-container class="uk-width-medium-1-2">
                                    <!-- <label>Account Type <sup style="color:red">*</sup></label> -->
                                <md-select class=" uk-animation-slide-bottom" name="role" placeholder="Pick an account type" ng-model="signup.role" required>
                                    <md-option value="">...</md-option>
                                    <md-option value="client">Enterprise Account</md-option>
                                    <!-- <md-option value="audit">Audit Account</md-option> -->
                                    <md-option value="admin" ng-if="permissions.admin_only(data.me)">Owner's Account</md-option>
                                </md-select>
                                <div class="help-block" style="font-family: Roboto;color:lightgray;" ng-messages="add_user_form.role.$error" ng-if="add_user_form.role.$touched">
                                    <p ng-message="required" class="uk-text-danger">A signup role is required.</p>
                                </div>
                            </md-input-container>
                            <div class="uk-width-medium-1-2 " ng-if="data.me">
                                
                                <div ng-if="data.me.role!='admin'">
                                    {{signup.organization=data.me.organization}}
                                </div>
                                <div ng-if="data.me.role=='admin'">
                                        <!-- <label>Member Organization <sup style="color:red">*</sup></label> -->
                                        <md-select name="organization" ng-model="signup.organization" placeholder="Pick an organization"  required>
                                            <md-option value="">...</md-option>
                                            <md-option ng-repeat="org in fetched.organizations" ng-value="org.org_id" ng-hide="!org.org_active">{{org.org_name}}</md-option>
                                        </md-select>
                                        <div class="help-block" style="font-family: Roboto;color:lightgray;" ng-messages="add_user_form.organization.$error" ng-if="add_user_form.organization.$touched">
                                            <p ng-message="required" class="uk-text-danger">A member organization is required.</p>
                                        </div>
                                </div>
                                
                            </div>
                    </div>
                </div>

            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-animation-slide-right">
                    <button  
                    ng-disabled="add_user_form.$invalid" 
                    ng-click="app.notify('Attempting to register new user.');auth.Register(signup).then(isSignedUp).catch(handlers.regError)"
                    ng-class="{'md-btn-primary' : !add_user_form.$invalid }"
                    
                    class="md-btn "> Signup</button>
                    <br><br>
                    
                    <div style="font-family:Roboto-thin !important;">Have an Account? <b><a class="" ng-click="goTo('app.login')">Login</a></b> </div>
                </div>
            </div>
                            

        </div>

                                
    </form>
</div>