<!DOCTYPE html>
<html lang="en" ng-app="framify">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <!-- Import the favicon -->
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- Setup an application title -->
    <title>Framify Lite</title>

    <!-- Import the Application Style definitions -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/framify_dependencies.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">

</head>
<body 
    ng-cloak
    style="font-family: Roboto !important; background-color:white !important;" 
    class="header_full" 
    ng-controller="framifyController" 
    ng-init="remoteAuth.setUrl(app.hlink)"
>

<!-- Header -->    
    <header id="header_main" style="">
        <div class="header_main_content">
            <!-- Navbar -->
            <nav class="uk-navbar">

                <div class="main_logo_top">
                    <a href="index.html">
                        <!-- <img src="assets/img/logo_main_white.png" alt="" class="" width="71" height="15"> -->
                        <div style="color: rgba(999,999,999,1) !important; font-size:1.3em !important;">Jambopay Dash</div>
                        <!-- <img style="margin-top: 0px !important;" src="assets/img/logo.png" alt="" class="" width="71" height="14"> -->
                    </a>                  
                </div>

                <!-- main sidebar switch -->
                <a href="#" id="sidebar_main_toggle" class="sSwitch sSwitch_left">
                    <span class="sSwitchIcon"></span>
                </a>

                <!-- secondary sidebar switch -->
                <a href="#" id="sidebar_secondary_toggle" class="sSwitch sSwitch_right sidebar_secondary_check">
                    <span class="sSwitchIcon"></span>
                </a>


                <div id="menu_top_dropdown" class="uk-float-left uk-hidden-small">
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                        <a href="#" class="top_menu_toggle"><i class="material-icons md-24">&#xE8F0;</i></a>
                        <div class="uk-dropdown uk-dropdown-width-3">
                            <div class="uk-grid uk-dropdown-grid" data-uk-grid-margin>
                                <div class="uk-width-2-3">
                                    <div class="uk-grid uk-grid-width-medium-1-3 uk-margin-top uk-margin-bottom uk-text-center" data-uk-grid-margin>

                                        <a ng-click="app.doNothing()" ui-sref="app.index">
                                            <i class="material-icons md-36" style="color:#1976D2;">home</i>
                                            <span class="muk-text-muted uk-display-block"  style="color:darkslategray;">Home</span>
                                        </a>

                                        <a ng-click="app.doNothing()" ui-sref="app.signup">
                                            <i class="material-icons md-36" style="color:#1976D2;">group</i>
                                            <span class="muk-text-muted uk-display-block" style="color:darkslategray;">Signup</span>
                                        </a>

                                        <a ng-click="auth.Logout().then(handlers.isLogedIn)" ng-if="storage.framify_user">
                                            <i class="material-icons md-36" style="color:#1976D2;">highlight_off</i>
                                            <span class="muk-text-muted uk-display-block" style="color:darkslategray;">Logout</span>
                                        </a>

                                        <a ng-click="app.doNothing()" ui-sref="app.documentation">
                                            <i class="material-icons md-36" style="color:#1976D2;">book</i>
                                            <span class="muk-text-muted uk-display-block" style="color:darkslategray;">Documentation</span>
                                        </a>

                                    </div>

                                </div>
                                <div class="uk-width-1-3">
                                    <ul class="uk-nav uk-nav-dropdown uk-panel">
                                        <li class="uk-nav-header"  style="color:#1976D2;" style="cursor:pointer;" ui-sref="app.index">Home</li>
                                        <li class="uk-nav-header"  style="color:#1976D2;" style="cursor:pointer;" ui-sref="app.panel">Dashboard</li>
                                        <li class="uk-nav-header"  style="color:#1976D2;" style="cursor:pointer;" ui-sref="app.documentation">Documentation</li>
                                        <li class="uk-nav-header"  style="color:#1976D2;" style="cursor:pointer" ui-sref="app.manage_users">Manage User Accounts</li>
                                        <li class="uk-nav-header"  style="color:#1976D2;" style="cursor:pointer;" ng-show="storage.framify_user" ng-click="auth.Logout().then(handlers.isLogedIn)">LOGOUT</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav user_actions">
                        <li><a href="#" id="full_screen_toggle" class="user_action_icon uk-visible-large"><i class="material-icons md-24 md-light">&#xE5D0;</i></a></li>
                        <li><a href="#" id="main_search_btn" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE8B6;</i></a></li>
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <a href="#" class="user_action_icon"><i class="material-icons md-24 md-light">&#xE8A6;</i><span class="uk-badge"></span></a>
                            <div class="uk-dropdown uk-dropdown-xlarge">
                                <div class="md-card-content">
                                    <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#header_alerts',animation:'slide-horizontal'}">
                                        <li class="uk-width-1-2 uk-active"><a href="#" class="js-uk-prevent uk-text-small">Actions</a></li>
                                        <li class="uk-width-1-2"><a href="#" class="js-uk-prevent uk-text-small">About</a></li>
                                    </ul>
                                    <ul id="header_alerts" class="uk-switcher uk-margin">
                                        <li>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <span class="md-user-letters md-bg-cyan">Hi</span>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading"><a href="#">Hello.</a></span>
                                                        <span class="uk-text-small uk-text-muted">Welcome to this framify management portal.</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="uk-text-center uk-margin-top uk-margin-small-bottom">
                                                <button ng-if="!storage.framify_user" ng-click="goTo('app.login')" class="md-btn"> LOGIN</button>
                                                <button ng-if="storage.framify_user" ng-click="auth.Logout().then(handlers.isLogedIn)" class="md-btn md-btn-danger"> LOGOUT</button>
                                                <button ng-if="storage.framify_user" ng-click="goTo('app.signup')" class="md-btn md-btn-warning">ADD USER</button>
                                            </div>
                                        </li>
                                        <li>
                                            <ul class="md-list md-list-addon">
                                                <li>
                                                    <div class="md-list-addon-element">
                                                        <i class="md-list-addon-icon material-icons uk-text-primary">info_outline</i>
                                                    </div>
                                                    <div class="md-list-content">
                                                        <span class="md-list-heading">Framify</span>
                                                        <span class="uk-text-small uk-text-muted uk-text-truncate">framify@bixbyte.io</span>
                                                    </div>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li data-uk-dropdown="{mode:'click',pos:'bottom-right'}">
                            <!--<a href="#" class="user_action_image"><img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt=""/></a>-->
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav js-uk-prevent">
                                    <li disabled><a href="page_user_profile.html">My profile</a></li>
                                    <li disabled><a href="page_settings.html">Settings</a></li>
                                    <li disabled><a href="login.html">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /Navbar -->
        </div>
        <div class="header_main_search_form">
            <i class="md-icon header_main_search_close material-icons">&#xE5CD;</i>
            <form class="uk-form">
                <input type="text" class="header_main_search_input" ng-model="nav.search" ng-bind="nav.search" />
                <button class="header_main_search_btn uk-button-link"><i class="md-icon material-icons">&#xE8B6;</i></button>
            </form>
        </div>
    </header>
<!-- /Header -->


<!-- Sidebar -->
    <aside id="sidebar_main" class="" style="color:white !important; background-color:rgba(25, 118, 210, 1) !important; ">
    <div class="menu_section">
            <ul class="col-white">
                <li title="Home">
                    <a ui-sref="app.index" class="col-white">
                        <span class="menu_icon col-white"><i class="material-icons col-white">home</i></span>
                        <span class="menu_title col-white">Home</span>
                    </a>
                </li>

                <li title="Documentation">
                    <a ui-sref="app.documentation" class="col-white">
                        <span class="menu_icon col-white"><i class="material-icons col-white">book</i></span>
                        <span class="menu_title col-white">Documentation</span>
                    </a>
                </li>

                <li title="User Panel">
                    <a ui-sref="app.panel" class="col-white">
                        <span class="menu_icon col-white"><i class="material-icons col-white">fingerprint</i></span>
                        <span class="menu_title col-white">User Panel</span>
                    </a>
                </li>

                <!-- <li ng-repeat="link in links" ng-if="link.menu == 'true' && ( link.parent == 'false' )" title="{{link.title}}">
                    <a ui-sref="app.{{link.path}}" class="col-white">
                        <span class="menu_icon col-white"><i class="material-icons col-white">{{link.icon}}</i></span>
                        <span class="menu_title col-white">{{link.title}}</span>
                    </a>
                </li> -->

                <li title="Logout" >
                    <a ng-click="auth.Logout().then(handlers.isLogedIn)" ng-if="storage.framify_user" ui-sref="app.index" class="col-white">
                            <span class="menu_icon col-white"><i class="material-icons col-white">highlight_off</i></span>
                        <span class="menu_title col-white">Logout</span>
                    </a>
                </li>



            </ul>
        </div>
    </aside>
<!-- /Sidebar -->


<br>
<br>

<div id="page_content">


    <div id="page_content_inner">
        <div ui-view></div>

    </div>

</div>

</body>

<!-- scripts -->

    <script src="assets/js/framify_dependencies.min.js"></script>
    <script src="assets/js/framify.min.js"></script>


    <!-- common functions -->
    <script src="assets/js/common.min.js"></script>
    <!-- uikit functions -->
    <script src="assets/js/uikit_custom.min.js"></script>
    <!-- altair common functions/helpers -->
    <script src="assets/js/altair_admin_common.min.js"></script>


    <!-- MAIN APPLICATION SCRIPT IMPORT -->
    <script src="assets/js/app.js"></script>

    
    <script>
        $(function() {
            // enable hires images
            altair_helpers.retina_images();
            // fastClick (touch devices)
            if (Modernizr.touch) {
                FastClick.attach(document.body);
            }
        });
    </script>

    

<!-- /scripts -->

</html>