<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Passwords | Forgot</title>
    <link rel="icon" type="image/png" href="favicon.png">
</head>
<body>
    <div style="width:100%; min-height:100%;border:opx !important;">

        <div 
        style="width:90% !important;background-color:#1976D2;color:white;text-align:center;padding:1em; margin: 0 auto;border:1em !important; font-family:Courier New, Courier, monospace"> <font  style="font-size:1.4em;font-weight:bold;"
        >
        LighFrame</font> | Password Reset

        </div>

        <div style="width:90% !important;margin: 0 auto;font-family:Courier New, Courier, monospace;">
            <br>
            Hello <font color="navy" style="font-weight:400"> {{user}} </font>,
            <br><br>
            We have received a password recovery request for your account ( <font color="red">{{user_account}}</font> ) with us.
            <br>
            <br>
            <br>
            <center> 
                <a target="_blank" href="{{user_recovery_link}}">
                    <button 
                    style="text-decoration:none !important;border-color:#1976D2 !important;color:black; text-shadow:#1976D2 2px 2px 3px , black 1px 1px 2px !important;border: 2px solid; background-color: white !important; min-height: 3em !important; min-width: 12em !important; border-radius:0.5em; font-weight:bold;"
                    >
                    Reset Password
                    </button>
                </a>
            </center>
            
            <br><br>
            Please ignore this message in case you did not request a password reset.
            <br><br><br>
            <hr>
            <br>
            <font color="gray">
                Sincerely,
                <br>
                <b> 
                    The LightFrame team 
                </b> 
            </font>

        </div>

    </div>
    <br><br><br><br>
</body>
</html>