<!DOCTYPE html>
<html lang="en" ng-app="passwords">
<head>
    <title>Passwords | Recovery</title>
    <link rel="icon" type="image/png" href="favicon.png">
    <script src="/framify/resources/angular.min.js"></script>
    <script src="/framify/resources/angular-sanitize.min.js"></script>
    <script>
        angular.module("passwords",["ngSanitize"])
        .controller("passCtrl",["$scope","$http",function($scope,$http){

            //@ Mail enumerator regex
            var mailRegex =  /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/ig

            $scope.testMail = function(){
                return mailRegex.test( $scope.data.email );
            };

            //@ The scope data handler
            $scope.data      = { 
                response :  ""
                ,email:     ""
            };

            //@ The recovery attempt function
            $scope.recover   = function( ){

                $scope.data.response = "Loading ...";

                $http({ method: "POST", url:"/passwords/forgot", data:{ email: $scope.data.email }})
                .then(function(response){
                    $scope.data.response = response.data.data.message;
                })
                
            };


        }])
        
    </script>
</head>
<body ng-controller="passCtrl">
    <div style="width:100%; min-height:100%;border:opx !important;">

        <div 
        style="width:90% !important;background-color:#1976D2;color:white;text-align:center;padding:1em; margin: 0 auto;border:1em !important; font-family:Courier New, Courier, monospace"
        > 
            <font  
            style="font-size:1.4em;font-weight:bold;"
            >
            LightFrame
            </font> 
            | Password Reset
        </div>

        <div style="width:90% !important;margin: 0 auto;font-family:Courier New, Courier, monospace;">
            <br>
            Hello,  <br><br>
            <font color="navy" style="font-weight:400"> Please enter your email address and hit the button to continue </font>.
            <br>
            <br>
            <br>
            
            <center> 
                <!-- <form action="/passwords/forgot"></form> -->
                <input 
                type="text"
                id="email"
                ng-model="data.email"
                placeholder="your email address"
                style="text-decoration:none !important;color:black; text-shadow:gray 2px 2px 3px, whitesmoke 1px 1px 2px;border: 2px solid; background-color: white !important; min-height: 3em !important; min-width: 12em !important; border-radius:0.5em;text-align:center;"
                >
               
                <button 
                ng-click="recover()"
                id="btn"
                style="text-decoration:none !important;border-color:#1976D2 !important;color:white; text-shadow:#1976D2 2px 2px 3px, black 1px 1px 2px;border: 2px solid; background-color: white !important; min-height: 3em !important; min-width: 12em !important; border-radius:0.5em; font-weight:bold;"
                >
                Request Reset Link
                </button>
                
            </center>
            
            <br><br>
            
            <div 
            style="width:100% !important;text-align:center !important;font-weight:bold;font-size:1.2em;color:darkslategray;" 
            ng-bind-html="data.response">

            </div>
            <br><br>
            <a href="/" style="text-decoration:none; color:blue; font-weight:bold;font-size:1.3em;">Back Home</a>
            <br><br><br>
            <hr>
            <br>
            <font color="gray">
                
                <b> 
                    Thank you for using LightFrame
                </b> 
            </font>

        </div>

    </div>
</body>
</html>